<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Portfolio Page Template</title>
<!-- Bootstrap -->
<link href="css/bootstrap-4.3.1.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> </li>
      <li class="nav-item"> </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Help&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Debug</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reset</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contact</a> </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>
<section>
  <div class="jumbotron text-center mt-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Mililani High School Coding Club ML .csv Analyzer </h1>
          <p>Welcome to MHS Coding Club's Machine Learning platform. Here you can upload a .csv file with data to analyze.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Upload a .csv »</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>About the Analyzer</h2>
        <p>Here at Mililani High School Coding Club, we strive to innovate. In training for an upcoming HACC, we've decided as a team, to work on understanding and building tools that utilize machine learning in an effort to build skills that we could use in future job oppurtunities.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media"> <img src="images/py.png" alt="Python logo" width="32" height="32" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Python-based</h5>
              Python is the beating heart of our project. It's simplicity allows anyone to pick up a book, and start coding. </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media"> <img src="images/dj.png" alt="Django logo" width="33" height="33" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Django</h5>
              Django was an easy descision thanks to it's roots in Python. </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media"> <img src="images/sci.png" alt="Generic placeholder image" width="64" height="32" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Scikit</h5>
              Our ML tool of choice is Scikit. We couldn't have done this without it. </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.3.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.3.1.js"></script>
</body>
</html>